<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TitleGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TitleGenerator.Properties.Settings>
            <setting name="DataUILocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="CKIIDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllowsSelected" serializeAs="String">
                <value/>
            </setting>
            <setting name="GainsSelected" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelectedMods" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelectedRules" serializeAs="String">
                <value>VanillaRuleSet;</value>
            </setting>
            <setting name="HistoryMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistoryClearLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistoryCreateType" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HistoryStartDate" serializeAs="String">
                <value>1066</value>
            </setting>
            <setting name="HistorySeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistorySeedEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryMinRealms" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="HistoryMaxRealms" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="HistoryMinRepublics" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HistoryMaxRepublics" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="HistoryCreateKingdoms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TitleCreateDuchies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TitleCreateKingdoms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TitleCreateEmpires" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TitleShortKingdoms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TitleShortEmpires" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TitleRestrictCulture" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TitleRestrictReligion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TitleRestrictCounty" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TitleRestrictDuchy" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TitleRestrictKingdom" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TitleReplaceDeJure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistoryMinTheocracies" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HistoryMaxTheocracies" serializeAs="String">
                <value>10</value>
            </setting>
        </TitleGenerator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
